*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Limelight', cursive;
}

header{
    position: fixed;
    z-index: 1;
    background-color: transparent;
    height: 5vh;
    width: 100vw;
    min-height: 60px;
}

#toolbar{
    position: absolute;
    right: 30px;
    top: 10px;
}

#toolbar li{
    display: inline-block;
    font-size: 40px;
    padding: 10px;
}

#toolbar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.tool{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

.shoe-section{
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    position: relative;
}

#bg-color-red{
    background-color: red;
}

#bg-color-yellow{
    background-color: yellow;
}

#bg-color-green{
    background-color: green;
}

.shoe-section img,
.shoe-section h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    padding-top: 60vh;
    font-size: 60px;
    text-transform: uppercase;
}

#bg-color-red h1{
    color: yellow;
}

#bg-color-green h1{
    color: yellow;
}

#bg-color-yellow{
    color: green;
}